<?xml version="1.0"?>
<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
	</include>

	<!-- Our node to control the drone -->
	<node pkg="controls" type="OffBoardControl_Landing_Simulation" name="OffBoardControl_Landing_Simulation" required="true" output="screen" />
</launch>